.block
    margin: 30px
        left: 60px

    transition: margin var(--fast)
    
    &__title
        font: bold 24px Montserrat
        margin: 0px

    &__text
        font: large Montserrat
        margin: 0px