.flex
    display: flex 

    height: 60px
    padding: 0px 30px
    margin: 30px 0px

    &__title
        font: bold 36px Montserrat
        margin: auto 0px
        background: linear-gradient(transparent 50%, var(--light-blue) 50%)

    &__btn
        border-radius: 1em
        padding: 0px
        margin: 0px 30px

        background: var(--blue)
        border: none
        outline: none

    svg 
        color: white 
        fill: white

        width: 36px
        height: 36px
        margin: 12px