@import fonts

@import header
@import nav
@import block
@import flex
@import menu
@import toast
@import footer

html 
    --white: rgba(255, 255, 255, 0.9)
    --light: #aaa 
    --dark: #222 
    --dark-blue: #36454f
    --blue: #4169e1 
    --light-blue: #74ACDF
    --golden-yellow: #FCBF49
    --shadow: 0px 0px 30px -15px
    --slow: 750ms
    --fast: 250ms

body 
    margin: 0px
        top: 60px