.nav 
    position: fixed
    top: 0px
    left: 0px
    bottom: 0px
    z-index: 1

    width: 90px

    background: white
    box-shadow: var(--shadow) var(--light)

    overflow: hidden
    transition: width var(--fast)

    &__link 
        text-decoration: none

    &__text 
        font: 500 large Montserrat 
        margin: 0px

    svg 
        width: 36px 
        height: 36px 
        margin: 12px