.block
    display: block

    &--main
        @extend .block

    &__title
        font: 900 60px Montserrat
        color: var(--dark)

        padding: var(--padding)
        margin: 1em 0em

    &__text
        font: large Montserrat
        text-align: justify

        padding: var(--padding)
        margin: var(--margin)

        &--larger 
            @extend .block__text 
            font: 500 larger Montserrat
            letter-spacing: -0.05em

    &__link
        font: 500 larger Montserrat
        text-decoration: none

        padding: var(--padding)
        margin: var(--margin)

        display: block

