html
    --viridian: #40826d
    --amaranth: #e52b50
    --charcoal: #36454f
    --dark: #222
    --shadow: 0px 15px 15px -10px
    --margin: 1em 0px
    -radius: 15px
    --padding: 0px 30px

    --blue: royalblue
    --purple: #7851a9 
    --yellow: #FADA5E
    --white: rgba(255, 255, 255, 0.9)