html
    --cerulean: #007ba7
    --viridian: #40826d
    --amaranth: #e52b50
    --charcoal: #36454f
    --shadow: 0px 15px 15px -10px var(--cerulean)
    --margin: 30px 0px
    -radius: 15px
    --padding: 0px 30px

    --blue: royalblue
    --purple: #7851a9 
    --yellow: #FADA5E