@font-face 
    font-family: Montserrat
    font-weight: black
    font-display: swap 
    src: url(/assets/fonts/Montserrat-Black.ttf)
@font-face 
    font-family: Montserrat
    font-weight: bold
    font-display: swap
    src: url(/assets/fonts/Montserrat-Bold.ttf)
@font-face 
    font-family: Montserrat
    font-weight: regular
    font-display: swap
    src: url(/assets/fonts/Montserrat-Regular.ttf)

h1, h2, h3, h4, h5, h6
    user-select: none

h2, h3, h4, p
    padding: var(--padding)
    margin: var(--margin)

h2
    font: bold xx-large Montserrat

h3 
    font: bold x-large Montserrat

h4 
    font: bold large Montserrat

p
    font: large Montserrat
    text-align: justify