.header 
    height: 60px 

    display: flex
    align-items: center
    justify-content: space-between

    color: white
    background: var(--charcoal)

    &__title
        font: bold x-large Montserrat
        color: white

        margin: auto 30px

    &__btn
        color: white 

        padding: 0px 15px
        border-radius: 30px
        margin: auto 0px

        background: none
        border: none
        outline: none

        cursor: pointer

    svg 
        width: 36px 
        height: 36px