.toast
    position: fixed
    bottom: -120px
    left: 0px
    z-index: 2

    width: -webkit-fill-available
    padding: 12px 30px
    border-radius: 30px
    margin: 30px

    display: flex
    align-items: center
    justify-content: center

    background: var(--blue)

    transition: bottom 250ms

    &__text
        font: 500 large Montserrat
        color: white
        line-height: 2
        text-align: center
        user-select: none

        padding: 0px
        margin: 0px