.toast
    position: fixed
    top: -120px
    // bottom: -120px
    left: 50%
    z-index: 2

    transform: translateX(-50%)


    width: fit-content
    max-width: calc( 100% - 120px )
    min-height: 60px
    padding: var(--padding)
    border-radius: 30px
    margin: var(--margin)

    display: flex
    align-items: center
    justify-content: center

    background: var(--white)
    backdrop-filter: blur(20px)
    -webkit-backdrop-filter: blur(20px)

    transition: top 250ms

    &__text
        font: 500 large Montserrat
        line-height: 2
        text-align: center
        user-select: none

        padding: 0px
        margin: 0px