@mixin fix($top, $right, $bottom, $left, $z)
    position: fixed
    top: $top
    right: $right
    bottom: $bottom
    left: $left
    z-index: $z
@mixin flex($direction, $align, $justify)
    display: flex
    flex-direction: $direction 
    align-items: $align
    justify-content: $justify
@mixin box($width, $height, $pad, $rad, $margin)
    box-sizing: border-box
    width: $width 
    height: $height
    padding: $pad
    border-radius: $rad
    margin: $margin
@mixin content($background)
    content: ""
    position: absolute
    // bottom: 0
    top: 50%
    left: 0
    z-index: -1
    background: $background

    
@font-face 
    font-family: Nexa
    font-display: swap
    src: url(/assets/fonts/Nexa-Bold.otf)
    font-weight: 600
@font-face 
    font-family: Nexa
    font-display: swap
    src: url(/assets/fonts/Nexa-Light.otf)
    font-weight: 300

    
html
    --indigo: #8000ff
    --lightblue: #80ffaa
    ::-webkit-scrollbar
        display: none
    ::selection
        background: #0FA
body 
    @include box(100vw, null, 60px 0 0, null, 0)
    @include flex(column, null, null)
header
    @include fix(0, null, null, 0, 1)
    @include flex(column, null, null)
    @include box(100%, 60px, null, null, null)
    background: #0fa
    backdrop-filter: blur(10px)
    color: white
    overflow: hidden
    transition: .4s
    &.open 
        height: 100%
        nav 
            :nth-child(1)
                transition: opacity .4s
            :nth-child(2)
                transition: opacity .4s .2s
        a 
            opacity: 1
    div 
        @include flex(row, null, space-between)
    nav 
        display: contents
        a 
            opacity: 0
        :nth-child(1)
            transition: opacity .4s .2s
        :nth-child(2)
            transition: opacity .4s 
    a 
        font: bold 36px/36px Nexa
        color: inherit
        text-decoration: none
        margin: 12px
    svg 
        @include box(36px, 36px, null, null, 12px)
h2
    font: bold 15vw Nexa
    color: white
    text-align: center
    position: relative
    margin: 10vh 10vw
    background: linear-gradient(white 50%, #0fa 50%)
    &::first-line
        color: black
    // &::after 
    //     @include content(#0fa)
    //     @include box(100%, 50%, null, null, null)
h3 
    font: bold 6vh Nexa
    color: white 
    position: relative
    background: #0fa 
    @include box(100%, 12vh, 30px, null, 30px 0px 90px)
    @include flex(null, center, null)
    &::after 
        content: "Ipsum"
        @include flex(null, center, null)
        @include box(50%, 100%, 30px, null, null)
        position: absolute
        left: 50%
        top: 50%
        background: royalblue
p
    font: bold 24px/36px Nexa
    text-align: justify
    margin: 0 30px
    // text-decoration: underline 50% solid #80ffaa 
    // text-decoration-line: underline 
    // text-decoration-style: solid
    // text-decoration-skip-ink: none
    // text-decoration-thickness: 12px
    // text-underline-offset: -12px
    // text-decoration-color: #80ffaa
    
    

    

