@import header
@import block
@import flex
@import footer
@import menu
@import toast

@import fonts
@import colors
@import modifiers

body
    margin: 0px

body.locked 
    overflow: hidden

::selection
    color: white
    background: var(--blue)

::-webkit-scrollbar
    display: none

