@import header
@import block
@import flex
@import footer
@import menu

@import fonts
@import colors
@import modifiers

body
    margin: 90px 0px 0px 0px

::selection
    color: white
    background: royalblue

::-webkit-scrollbar
    display: none

