.box
    display: flex
    flex-wrap: wrap
    gap: 10px

    button
        height: 50px
        padding: 0 25px
        border: 0
        background: var(--lighter)
        border-radius: 10px
        color: var(--darker)
        font: 400 16px Inter
        outline: 0

    button + button
        background: var(--primary)
        color: white
