// @import "nav"
@import "box"
@import "input"
@import "fonts"

$golden: linear-gradient(to right, #fede55, #fcbf49)

html
  --primary: #4666ff
  --secondary: #75aadb
  --accent: #fcbf49

  --success: #5fa
  --info: #5af
  --alert: #fa5
  --error: #f55

  --success-bg: #5fa3
  --info-bg: #5af3
  --alert-bg: #fa53
  --error-bg: #f553

  --darker: #111
  --dark: #333
  --grey: #555
  --light: #aaa
  --lighter: #eee

  --shadow-sm: 0 5px 10px -5px #5555
  --shadow-md: 0 15px 30px -15px #5555
  --shadow-lg: 0 25px 50px -25px #5555

  --fast: 250ms
  --slow: 750ms

body
  padding: 25px
  margin: 0
  background: white
  // font-family: Inter

  @media (prefers-color-scheme: dark)
    background: var(--darker)
    color: white

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

main
  display: flex
  flex-direction: column
  align-items: start
  gap: 10px

code
  font: inherit
  color: var(--primary)

.flexbox
  display: flex
  align-items: center
  justify-content: center
  gap: 10px

form, fieldset
  all: inherit
  align-self: stretch
