@use "utils"

.input
    display: flex
    height: 50px
    align-self: stretch
    border: solid 3px var(--lighter)
    background: var(--lighter)
    border-radius: 10px
    color: var(--light)
    transition: 500ms

    &:hover, .valid:hover, .invalid:hover
        background: white

    &:focus-within, .valid:focus-within, .invalid:focus-within
        border: solid 3px var(--primary)
        background: white
        color: var(--primary)

    +dark
        border: solid 3px var(--dark)
        background: var(--dark)

        &:hover, .valid:hover, .invalid:hover
            background: var(--darker)

        &:focus-within, .valid:focus-within, .invalid:focus-within
            border: solid 3px var(--accent)
            background: var(--darker)
            color: var(--accent)

    &.valid
        border: solid 3px var(--success)
        background: var(--success-bg)
        color: var(--success)

    &.invalid
        border: solid 3px var(--error)
        background: var(--error-bg)
        color: var(--error)

    input
        flex: 1
        padding: 0 12px
        border: 0
        background: none
        border-radius: 10px
        caret-color: var(--primary)
        color: var(--dark)
        font: 400 16px Inter
        outline: 0

        &:-webkit-autofill
            -webkit-background-clip: text

        &::placeholder
            color: var(--light)

        +dark
            caret-color: var(--accent)
            color: var(--lighter)

    svg
        width: 24px
        height: 24px
        margin: 10px
